<div class="column">
  <h4>Community</h4>
  <div class="card card-logo" onclick="document.location.href=&quot;https://github.com/jointxroad&quot;">
    <div class="card-content""><img src="images/github.png"></div>
  </div>
  <div class="card card-logo" onclick="document.location.href=&quot;https://stackoverflow.com/questions/tagged/xroad&quot;">
    <div class="card-content"><img src="images/stack.png"></div>
  </div>
  <div class="card card-logo" onclick="document.location.href=&quot;https://jointxroad.slack.com&quot;">
    <div class="card-content"><img src="images/slack.png"></div>
  </div>
</div>
