<header>
  <div class="fader"></div>
  <a id="logo" href="/"><img src="/images/logo.svg"></a>
  <div class="container middle">
    <hgroup>
      <h1>Joint X-Road Community</h1>
      <p>Welcome to global X-Road community.<br>
      These pages are meant for anyone interested in learning more about X-Road,
      <br>how the community operates, and where to go for information.</p>
      <div class="row call-to-actions">
        <div class="column"><a href="/install.html" class="button">Installation</a>
          <p class="nomargin">Get up and running</p>
        </div>
        <div class="column"><a href="/examples.html" class="button">Examples</a>
          <p class="nomargin">How to use it</p>
        </div>
      </div>
    </hgroup>
  </div>
</header>
