<nav class="mobilenav"><a class="mobilenav-trigger"></a>
  <ul>
    <li><a href="/index.html">HOME</a></li>
    <li><a href="/archive.html">BLOG</a></li>
    <li><a href="/community.html">COMMUNITY</a></li>
    <li><a href="/events.html">EVENTS</a></li>
    <li><a href="/contact.html">CONTACT US</a></li>
    <li><a href="/install.html">Install </a></li>
  </ul>
</nav>
