<main>
  <div class="container">
    <h1 class="center">Events</h1>
    <div class="row">
      <%= partial "partials/events" %>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</main>
