<main class="container">
  <div class="row">
    <div class="column column-75 main-content"><a href="modules.html" class="backlink">&larr; Modules</a>
      <svg width="150" height="150" data-jdenticon-hash="6a80768be70cbf6e5688fcf11e70fb70">icon here</svg>
      <h1>X-Road Portal MISP2</h1>
      <p class="module-type">Adapter, functional component, developer tool.</p>
      <p>MISP2 portal can be used for consuming X-Road services both for production environments and testing of services.</p>
      <h5>Specs:</h5>
      <dl class="module-specifics">
        <dt>Developer: </dt>
        <dd>Petteri Kivimäki</dd>
        <dt>Contact info: </dt>
        <dd>Petteri Kivimäki, petteri.kivimaki@vrk.fi</dd>
        <dt>Download location: </dt>
        <dd><a href="https://github.com/petkivim/xrd4j/releases">https://github.com/petkivim/xrd4j/releases</a></dd>
        <dt>Documentation: </dt>
        <dd><a href="https://github.com/petkivim/xrd4j">https://github.com/petkivim/xrd4j</a></dd>
        <dt>Development stage: </dt>
        <dd>Up-to-date, last updated April 2016.</dd>
        <dt>Licence: </dt>
        <dd>The MIT License (MIT). <a href="https://github.com/petkivim/xrd4j/blob/master/LICENSE">https://github.com/petkivim/xrd4j/blob/master/LICENSE</a></dd>
        <dt>Technology used: </dt>
        <dd>Java.</dd>
        <dt>Component requirements: </dt>
        <dd>Java 7 or later.</dd>
      </dl>
    </div>
    <div class="column">
      <div onclick="document.location.href = post.html" class="small-module">
        <div class="small-module-icon">
          <svg width="80" height="80" data-jdenticon-hash="cc3cf2ccefc4146f7b8166ba2a1cc2c2">icon here</svg>
        </div>
        <div class="small-module-content"><b>X-Road WSDL validator</b><br/><small>Functional component, developer tool.</small></div>
      </div>
      <div onclick="document.location.href = post.html" class="small-module">
        <div class="small-module-icon">
          <svg width="80" height="80" data-jdenticon-hash="fdb7bd4185174e8b109b67914b33e55e">icon here</svg>
        </div>
        <div class="small-module-content"><b>X-Road Personal Data Monitor</b><br/><small>Functional component, developer tool.</small></div>
      </div>
    </div>
  </div>
</main>
